*, *::before, *::after {
    font-family: 'DM Serif Display', serif;
    user-select: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-wrap: wrap;
}

.responsive {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.responsive iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

html {
	height: 100%;
  }
  
  body {
	overflow: hidden;
	background: #000000 url("/imgs/Static BG.jpg") no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font: normal 14px/1.618em "DM Serif Display", serif;
	-webkit-font-smoothing: antialiased;
  }
  
  body:before {
	content: "";
	height: 0px;
	padding: 0px;
	border: 130em solid #313440;
	position: absolute;
	left: 50%;
	top: 100%;
	z-index: 2;
	display: block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
	animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
  
  h1,

  h1 {
	font-size: 36px;
	color: gold;
	font-weight: bold;
	text-shadow: 3px 3px #000000;
  }

  p,

  p {
	font-size: 24px;
	color: white;
	text-shadow: 3px 3px #000000;
  }
  
  .profile-card {
	width: 56px;
	height: 56px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	overflow: hidden;
	opacity: 0;
	margin-top: 70px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  
  .profile-card header a > img {
	width: 120px;
	max-width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  }
    
  @-webkit-keyframes init {
	0% {
	  width: 0px;
	  height: 0px;
	}
	100% {
	  width: 56px;
	  height: 56px;
	  margin-top: 0px;
	  opacity: 1;
	}
  }
  
  @keyframes init {
	0% {
	  width: 0px;
	  height: 0px;
	}
	100% {
	  width: 56px;
	  height: 56px;
	  margin-top: 0px;
	  opacity: 1;
	}
  }
  
  @-webkit-keyframes puff {
	0% {
	  top: 100%;
	  height: 0px;
	  padding: 0px;
	}
	100% {
	  top: 50%;
	  height: 100%;
	  padding: 0px 100%;
	}
  }
  
  @keyframes puff {
	0% {
	  top: 100%;
	  height: 0px;
	  padding: 0px;
	}
	100% {
	  top: 50%;
	  height: 100%;
	  padding: 0px 100%;
	}
  }
  
  @-webkit-keyframes borderRadius {
	0% {
	  -webkit-border-radius: 50%;
	}
	100% {
	  -webkit-border-radius: 0px;
	}
  }
  
  @keyframes borderRadius {
	0% {
	  -webkit-border-radius: 50%;
	}
	100% {
	  border-radius: 0px;
	}
  }
  
  @-webkit-keyframes moveDown {
	0% {
	  top: 50%;
	}
	50% {
	  top: 40%;
	}
	100% {
	  top: 100%;
	}
  }
  
  @keyframes moveDown {
	0% {
	  top: 50%;
	}
	50% {
	  top: 40%;
	}
	100% {
	  top: 100%;
	}
  }
  
  @-webkit-keyframes moveUp {
	0% {
	  background: #FFB300;
	  top: 100%;
	}
	50% {
	  top: 40%;
	}
	100% {
	  top: 50%;
	  background: #E0E0E0;
	}
  }
  
  @keyframes moveUp {
	0% {
	  top: 100%;
	}
	50% {
	  top: 40%;
	}
	100% {
	  top: 50%;
	}
  }
  
  @-webkit-keyframes materia {
	0% {
	}
	50% {
	  -webkit-border-radius: 4px;
	}
	100% {
	  width: 880px;
	  height: 880px;
	  -webkit-border-radius: 4px;
	}
  }
  
  @-webkit-keyframes moveIn {
	0% {
	  margin-top: 50px;
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	  margin-top: -20px;
	}
  }
  
  @keyframes moveIn {
	0% {
	  margin-top: 50px;
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	  margin-top: -20px;
	}
  }
  
  @-webkit-keyframes scaleIn {
	0% {
	  -webkit-transform: scale(0);
	}
	100% {
	  -webkit-transform: scale(1);
	}
  }
  
  @keyframes scaleIn {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  @-webkit-keyframes ripple {
	0% {
	  transform: scale3d(0, 0, 0);
	}
	50%,
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes ripple {
	0% {
	  transform: scale3d(0, 0, 0);
	}
	50%,
	100% {
	  transform: scale3d(1, 1, 1);
	}
	100% {
	  opacity: 1;
	}
  }
  
  .btn {
	position: relative;
	padding: 1rem 3rem;
	font-family: Lato, sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: black;
	text-decoration: none;
	background-color: white;
	border: transparent;
	outline: transparent;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	animation: glow 8s linear infinite;
  }
  .btn-gradient {
	color: white;
	background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
	background-size: 300%;
	border-radius: 2em;
  }
  .btn-gradient::before {
	position: absolute;
	content: "";
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	z-index: -1;
	background: inherit;
	background-size: inherit;
	border-radius: 4em;
	opacity: 0;
	transition: 0.5s;
  }
  .btn-gradient:hover::before {
	opacity: 1;
	filter: blur(20px);
	animation: glow 8s linear infinite;
  }

  .btn2 {
	position: relative;
	padding: 1rem 3rem;
	font-family: Lato, sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: black;
	text-decoration: none;
	background-color: white;
	border: transparent;
	outline: transparent;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	animation: glow 8s linear infinite;
  }
  .btn-gradient2 {
	color: white;
	background: linear-gradient(90deg, #7289d9, #9900ff, #7289d9);
	background-size: 300%;
	border-radius: 2em;
  }
  .btn-gradient2::before {
	position: absolute;
	content: "";
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	z-index: -1;
	background: inherit;
	background-size: inherit;
	border-radius: 4em;
	opacity: 0;
	transition: 0.5s;
  }
  .btn-gradient2:hover::before {
	opacity: 1;
	filter: blur(20px);
	animation: glow 8s linear infinite;
  }

  .btn3 {
	position: relative;
	padding: 1rem 3rem;
	font-family: Lato, sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: black;
	text-decoration: none;
	background-color: white;
	border: transparent;
	outline: transparent;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	animation: glow 8s linear infinite;
  }
  .btn-gradient3 {
	color: white;
	background: linear-gradient(90deg, #1DA1F2, #00eeff, #1DA1F2);
	background-size: 300%;
	border-radius: 2em;
  }
  .btn-gradient3::before {
	position: absolute;
	content: "";
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	z-index: -1;
	background: inherit;
	background-size: inherit;
	border-radius: 4em;
	opacity: 0;
	transition: 0.5s;
  }
  .btn-gradient3:hover::before {
	opacity: 1;
	filter: blur(20px);
	animation: glow 8s linear infinite;
  }
  
  @keyframes glow {
	to {
	  background-position: 300%;
	}
  }